#chart canvas {
    background-color: Ivory;
    margin: 5px;
    border: 1px solid tomato;
}

#flex-container, #flex-container2 {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*
#pcfc {
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
}
*/

#flex-container canvas {
    background-color: Ivory;
    margin: 5px;
}

#flex-container2 canvas {
    background-color: Ivory;
    margin: 5px;
}

#allPlayerCharts, #allChartsForPlayer {
    border: 3px solid tomato;
}

table {
  color: white;
  font-family: arial, sans-serif;
  width: 50%;
  margin-top: 50px;
}

td, th {
  border: 0.2px solid grey;
  text-align: left;
  padding: 8px;
}

th {
  position: sticky;
  top: 53;
  background-color: black;
}

tr:nth-child(even) {
  background-color: tomato;
}

tr:nth-child(odd) {
  background-color: black;
}

#body_div{
  margin-top:4%;
  padding:10px;
}

*{
padding: 0;
margin: 0;
}

/*-------- navigation bar----------- */
#nav_bar{
  font-size: 20px;
  font-family: sans-serif;
  position:fixed;
  top:0;
  width:100%;
  z-index: 1;
}

#nav_bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

#nav_bar li a{
  border-right: 1px solid tomato;
  display: block;
  text-align: center;
  padding: 10px;
  padding-top:14px;
  color:white;
  text-decoration: none;
  float:right;
}

#nav_bar li a:hover:not(.active){
  background-color:tomato;
  color:black;
}

#nav_bar li a.active{
  border-right:none;
  color:tomato;
  float:left;
  padding-left:10%;
  padding-right:10%;
  font-size:25px;
}

form {
margin: 5;
}