/*setting margin and padding to 0 for everything helps avoid weird gaps*/
*{
padding: 0;
margin: 0;
}
/*------------*/

/*outer div on all pages with custom top margin and padding to help avoid the nav bar*/
#body_div{
  margin-top:4%;
  padding:10px;
}
/*------------*/

/*margin helps separate forms from the element below them*/
form {
    margin: .5%;

}
/*------------*/

/*style for all tables*/
table {
  color: white;
  font-family: arial, sans-serif;
  margin-top: 50px;
}

td, th {
  border: 0.2px solid grey;
  text-align: left;
  padding: 8px;
}

th {
  background-color: black;
}

tr:nth-child(even) {
  background-color: tomato;

}

tr:nth-child(odd) {
  background-color: black;

}
/*------------*/


/*style for all charts within #chart divs on all pages*/
#chart canvas {
    background-color: Ivory;
    margin: 5px;
    border: 1px solid tomato;
}
/*------------*/

/*flex code to help organize multiple charts*/
#flex-container, #flex-container2 {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
/*------------*/

/*flex-container canvas style*/
#flex-container canvas {
    background-color: Ivory;
    margin: 5px;
}

#flex-container2 canvas {
    background-color: Ivory;
    margin: 5px;
}
/*------------*/

/*border for the outer div the flex-containers are housed in*/
#allPlayerCharts, #allChartsForPlayer {
    border: 3px solid tomato;

}
/*------------*/

/*custom width and top margin only for pitch data table*/
#pitch-data-table table {
    width: 50%;
    margin-top: 50px;
}
/*------------*/

/*setting overflow to auto allows for the season stats table to be scrollable*/
#season-log {
    overflow: auto;

}
/*------------*/

#leaders{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#leaders div{
    height: 40vh;
    overflow: auto;
    margin: 0.5%;
    border:1px solid gray;
}

#leaders div table{
    margin-top: 0;

}

#leaders th{
    position: sticky;
    top: 0;
    text-align: center;
}

/*navigation bar*/
#nav_bar{
  font-size: 20px;
  font-family: sans-serif;
  position:fixed;
  top:0;
  width:100%;
  z-index: 1;
}

#nav_bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

#nav_bar li a{
  border-right: 1px solid tomato;
  display: block;
  text-align: center;
  padding: 10px;
  padding-top:14px;
  color:white;
  text-decoration: none;
  float:right;
}

#nav_bar li a:hover:not(.active){
  background-color:tomato;
  color:black;
}

#nav_bar li a.active{
  border-right:none;
  color:tomato;
  float:left;
  padding-left:10%;
  padding-right:10%;
  font-size:25px;
}
/*------------*/