#chart canvas {
    background-color: Ivory;
    margin: 5px;
    border: 1px solid tomato;
}

#flex-container {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#flex-container canvas {
    background-color: Ivory;
    margin: 5px;
}

#flex-container2 {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#flex-container2 canvas {
    background-color: Ivory;
    margin: 5px;
}

#allPlayerCharts {
    border: 3px solid tomato;
}