<script src ="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"> </script>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<script src= "https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="{{url_for('static', filename='select2.js')}}"></script>

<!-- navigation bar -->
<div id = "nav_bar">
  <ul>
    <li> <a {% if request.path =='/hitting' %}class="active"{% endif %} href="{{ url_for('hitting') }}">Hitting</a></li>
    <li> <a {% if request.path =='/pitchCharts' %}class="active"{% endif %} href="{{ url_for('pitchCharts') }}">Pitch Charts</a></li>
    <li> <a {% if request.path =='/pitching' %}class="active"{% endif %} href="{{ url_for('pitching') }}">Pitching</a></li>
    <li> <a {% if request.path =='/fielding' %}class="active"{% endif %} href="{{ url_for('fielding') }}">Fielding</a></li>
  </ul>
</div>

<div id = "body_div">
      {%  block body  %} {% endblock %}
</div>
